<!doctype html>
    <html lang="en">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <head>
        <title>DHAX | Auth</title>
        <link href="https://mymodding.ga/3dd6ce58bada26b15f0998a804bb279b.png" type="icon/image" rel="icon">
        <link href="https://mymodding.ga/main.css" rel="stylesheet">
    </head>
    </html>
<body>
    <div class="dhax-menu">
        <ul>
        <li>
        <a href="#"><img src="https://mymodding.ga/9dac602a253e105e3378742de6da8f44.png" id="img-desktop" alt="DHAX" width="110"></a><a href="#"><img src="https://mymodding.ga/3dd6ce58bada26b15f0998a804bb279b.png" id="img-mobile" alt="DHAX" width="30"></a>
        </li>
        <span>
            <li><a href="#">DOCS</a></li>
            <li><a href="#">MARKETPLACE</a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">HELP</a></li>
            <li><a href="#">GAMEPLAY</a></li>
        </span>
            <li><a href="/auth" target="_blank" id="signin">SIGNIN</a></li>
        </ul>
    </div>
    <div class="dhax-notification">
        <p>Its not scaled for TV Screens, Try using a smaller monitor asshole.
            <span onclick="close();">&times;</span>
        </p>
    </div>
<body>
    <div class="main">
        <label for="inputU">Username, Email or Phone number</label><br/>
        <input type="text" name="inputU" placeholder="Username, Email or Phone number">
        <br/>
        <input type="password" placeholder="Password">
        <br/>
        <input type="submit" value="Sign into account">
    </div>
</body>
</html>


<style>
  .main label {
    color:#fff;
  }
  input[type=text],input[type=password] {
    margin:10px;
    padding:20px;
    color:#111;
    width:400px;
  }

  input[type=submit] {
    padding:20px;
    width:200px;
    color:#fff;
    background:green;
    border:none;
    border-radius:1px;
    font-size:15px;
    margin-left:auto;
    margin-right:auto;
    text-transform:uppercase;
  }

  @media (max-width:768px) {
    input[type=text],input[type=password] {
      width:100%;
      padding:10px 10px 10px 10px;
      margin-bottom:15px;
      margin-left:auto;
      margin-right:auto;
    }

    input[type=submit] {
      width:200px;
      margin-left:auto;
      margin-right:auto;
    }
  }
</style>