<!doctype html>
    <html lang="en">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <head>
        <title>DHAX | Official </title>
        <link href="https://mymodding.ga/3dd6ce58bada26b15f0998a804bb279b.png" type="icon/image" rel="icon">
        <link href="https://mymodding.ga/main.css" rel="stylesheet">
    </head>
    </html>
<body>
    <div class="dhax-menu">
        <ul>
        <li>
        <a href="#"><img src="https://mymodding.ga/9dac602a253e105e3378742de6da8f44.png" id="img-desktop" alt="DHAX" width="110"></a><a href="#"><img src="https://mymodding.ga/3dd6ce58bada26b15f0998a804bb279b.png" id="img-mobile" alt="DHAX" width="30"></a>
        </li>
        <span>
            <li><a href="#">DOCS</a></li>
            <li><a href="#">MARKETPLACE</a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">HELP</a></li>
            <li><a href="#">GAMEPLAY</a></li>
        </span>
            <li><a href="/auth" target="_blank" id="signin">SIGNIN</a></li>
        </ul>
    </div>
    <div class="dhax-notification">
        <p>Its not scaled for TV Screens, Try using a smaller monitor asshole.
            <span onclick="close();">&times;</span>
        </p>
    </div>
<div class="main">
    <h1>Check out our game library.</h1>
    <img src="https://mymodding.ga/other.png">
    <br/>
    <a><input type="button" value="Browse all"></a>
</div>
</body>
<footer>
    <p>&copy; 2020&nbsp;<img src="https://mymodding.ga/9dac602a253e105e3378742de6da8f44.png" alt="DHAX" width="50">, LLC.</p>
</footer>
